*{
    margin: 0;
    padding: 0;
}
/*Что будет если делать все элементы в виде флексбокса?*/
body{
    font-size: 13px;
    line-height: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: left;
    background: none;
    text-indent: unset;
    word-spacing: normal;
    letter-spacing: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    color: rgba(255, 255, 255, 0.8);
}
header{
    width: 100%;
    height: fit-content;
    text-align: center;
    border-bottom: 4px solid #e63b23;
    background: #43a047;
    /*position: fixed;*/
}
.header-menu__basic-info__logo__img{
    height: 90px;
    width: auto;
}
.header-menu__site-navigation ul, .header-menu__basic-info ul{
    list-style: none;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    height: 90px;
    width: auto;
}
.header-menu__site-navigation ul li, .header-menu__basic-info ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
a{
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}
a:visited{
    color: rgba(255, 255, 255, 0.8);
}
.header-menu__basic-info li:hover, .header-menu__middle li:hover, .header-menu__site-navigation li:hover {
    border-radius: 15%;
    background: #777;
}
body main{
    color: darkturquoise;
}
footer{
    width: 100%;
    height: fit-content;
    text-align: center;
    border-top: 4px solid #e63b23;
    background: #43a047;
}
.bottom-of-page__info{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    line-height: 1;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,li{
    margin: 0.63em;
}
footer a{
    display: flex;
    justify-content: center;
}
.main-nav__drink-navigation__drinks img{
    object-fit: cover;
    height: 370px;
    width: 80%;
}
.main-nav__drink-navigation{
    height: 1200px;
}
/*.main-nav__drink-navigation__drinks{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*}*/
main{
    background: #1F5768;
    height: fit-content;

}
/*.main-nav__drink-navigation__drinks a {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/
.main-nav__drink-navigation__drinks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
article a {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-nav__drink-navigation__drinks__energy-drinks{
    flex-shrink: 2;
    justify-content: center;
}
article{
    display: flex;
}
.header-menu__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding: 15px;*/
}
.header-menu__top__left-part{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header-menu__middle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 30%;
}

.header-menu__basic-info, .header-menu__search__search-bar, .header-menu__search__search-bar__label{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu__search__search-bar__label input{

}

.header-menu__search__search-bar__label {
    margin-bottom: 1rem;
}

.header-menu__search__search-bar__label__label {
    display: block;
    margin-bottom: 0.25rem;
}
/* стили для input */
.header-menu__search__search-bar__label__input, .main__aside__search__label__input {
    display: flex;
    flex-basis: 100%;
    width: 400px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.header-menu__search__search-bar__label__input:focus, .main__aside__search__label__input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
@media screen and (max-width:1034px){
    .header-menu__top__left-part{
        display: none;
    }
    .header-menu__top{
        justify-content: center;
    }
    .header-menu__search__search-bar__label__input{
        width: 300px;
    }
}
@media screen and (max-width:666px){
    .header-menu__site-navigation ul{
        flex-wrap:wrap;
    }
    .header-menu__site-navigation ul{
        height: fit-content;
    }
    .header-menu__top{
        justify-content: center;
    }
    .header-menu__search__search-bar__label__input{
        width: 100px;
    }
}




.custom-table {
    display: grid;
    grid-template-columns: minmax(150px, 1.33fr) minmax(150px, 2.33fr) minmax(150px, 2.33fr);
    width: 100%;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
thead, tbody, tr{
    display: contents;
}

.custom-table thead {
    background-color: #c300ff;
}

tbody tr:nth-child(even) td {
    background-color: rgba(18, 90, 190, 0.54);
}

tbody tr:nth-child(odd) td{
    background-color: rgba(255, 0, 0, 0.65);
}

#scrollToTopBtn{
    opacity: 1;
    position: fixed;
    right: 20px;
    bottom: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-radius: 15%;
    background: #777;
}